.header {
    display: flex;
    flex: 0 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.logo {
    color: #F9FaF8;
    font-size: 24px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #E5E7EB;
    display: flex;
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
  
  .body1 {
    color: #1f2937;
    padding-bottom: 15px;

  }